.navbar-brand {
    font-size: 50px;
    font-style: italic;

}

.text-start{
    margin-bottom: 80px;
   
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

.dropdown-menu span {
    content: "\1F4DE";
    font-size: 12px;
    font-style: bold;
}

#hero-calc {
    height: 850px; 
    width: 2000px; 
    overflow: hidden; 
    
}